html, body {
	height: 100%;
}

body {
	text-align: center;
}

.table {
	display:table;
}

.table-cell {
	display:table-cell;
}

.vertical-align-middle {
	vertical-align: middle;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.footer {
	width:100%;
	position:fixed;
	bottom:0;
}

.separator {
	margin-right:10px;
	margin-left:10px;
}

.content {
	width:100%;
}

.wrapper {
	width: 100%;
	height: 100%;
	min-height: 100%;
}

.wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

a {
	border-bottom: 1px solid;
	text-decoration: none;color: #0066CC;
	border-color: #B2CCF0;
}

a:visited {
	color: purple;
	border-color: #E0B2E0;
}
a:hover {
	color: #FF4B33;
	border-color: #FF4B33 !important;
}

@media screen and (max-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	} 
	body {
		font-size:16px;
		line-height:1.5;
		font-family: -apple-system, Helvetica, Arial, sans-serif;
		padding-left:1%;
		padding-right:1%;
	}
}

@media only screen {
	body {
		font-size:18px;
		line-height:1.6;
		font-family: -apple-system, Helvetica, Arial, sans-serif;
		padding-left:10%;
		padding-right:10%;
	}
}